#city-view button {
    background-color: white; 
    border: 1px solid gray; 
    padding: 10px 24px; 
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
  }
  
  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* weather-card positioned so that the spinner may be absolutely positioned
   relative to this weather-card */
.weather-card {
  position: relative;
}

#weather-icon {
  height: 3.5rem;
}

#weather-icon>img {
  height: 100%;
}
  